<div class="content" style="border-top: 1px solid #a7abae69;">
    <div class="container">
        <h2 class="center t-s">Subscribe</h2>
        <div class="columns p-1">
            <div>
                <p>Dapatkan update artikel terbaru dari kami, supaya tidak ketinggalan informasi terbaru dari kami. <a
                        href="http://eepurl.com/gGoRSb" target="_blank" rel="noopener">Subscribe</a> sekarang. </p>
            </div>
            <div class="pt-3"></div>
            <div class="center flex">
                <a href="http://eepurl.com/gGoRSb" target="_blank" rel="noopener" class="button primary"
                    style="margin: auto;">Subscribe</a>
            </div>
        </div>
    </div>
</div>